@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@import "react-responsive-carousel/lib/styles/carousel.min.css";

body {
  font-family: 'Iceland', cursive;
  color: #3f444e;
  min-width: 320px;
  font-size: 1.5em;
}

h1, h2, h3, h4 {
  text-align: left;
}

h2 {
  width: 100%;
  font-size: 2em;
  font-weight: 800;
  text-transform: uppercase;
  color: #3f444e;
  line-height: 1;
  margin-bottom: 30px;
}

h4 {
  font-size: 1.2em;
  font-weight: 800;
  display: inline;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@media(max-width: 768px) {
  h2 {
    font-size: 1em;
  }
  h4 {
    font-size: 0.9em;
  }
}