@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap");

body {
  font-family: "Gothic A1", sans-serif;
  color: #3f444e;
  min-width: 320px;
}

h2 {
  width: 100%;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 800;
  color: #3f444e;
  margin-bottom: 30px;
}

h4 {
  font-weight: 800;
  display: inline;
}
